<nav>
  <%= link_to('Add image', controller: 'images', action: 'new') %>
</nav>


<% if @images.length > 0 %>

<section>
  <h1>My images</h1>

  <table class="image-list">
    <tr class="table-header">
      <th>URL</th>
      <th>Tags</th>
      <th>Preview</th>
    </tr>

    <% @images.each do |image| %>
      <tr>
        <td><a href="<%= url_for(image) %>"><%= image.url %></a></td>
        <td><%= image.tag_list.each do |t| t end %></td>
         <td><%= image_tag image.url %></td>
      </tr>
    <% end %>
  </table>
</section>

<% end %>