<h1>New Image</h1>

<%= form_with scope: :image, url: :images, local: true do |form| %>
  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url, value: params[:url] %>
    <% if @errors.has_key? :url %>
      <% @errors[:url].each do |error| %>
        <div class="field-error"><%= error %></div>
      <% end %>
    <% end %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>